<div th:fragment="settingsModal">
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  h-100 overflow-hidden">
                <!-- Header du modal -->
                <div class="modal-header">
                    <h4 class="modal-title" id="editProfileModalLabel">Paramètres</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Corps du modal -->
                <div class="modal-body d-flex  overflow-hidden">
                    <div th:replace="~{ :: sidebar}"></div>
                    <!-- Contenu du modal -->
                    <div class="p-2 flex-grow-1 overflow-auto">
                        <!-- Section Compte -->
                        <div class="settings-section" id="section-account">
                            <div th:replace="~{ :: accountSection}"></div>
                            <div th:replace="~{ :: emailForm}"></div>
                            <div th:replace="~{ :: passwordForm}"></div>
                        </div>
                        <!-- Section Général -->
                        <div class="settings-section d-none" id="section-general">
                            <h5>Général</h5>
                            <hr>
                            <p>Options générales ici...</p>
                        </div>
                        <!-- Section Thème -->
                        <div class="settings-section d-none" id="section-theme">
                            <h5>Thème</h5>
                            <hr>
                            <p>Choisir le thème clair/sombre, etc.</p>
                        </div>
                        <!-- Section Barre latéral -->
                        <div class="settings-section d-none" id="section-barreLateral">
                            <h5>Barre latérale</h5>
                            <hr>
                            <p class="m-0 fw-bold">Afficher dans la barre latérale</p>

                        </div>
                        <!-- Section Calendriers -->
                        <div class="settings-section d-none" id="section-calendriers">
                            <h5>Calendriers</h5>
                            <hr>
                            <p>Afficher les événements dans MaToDo et synchroniser les tâches planifiées avec votre
                                calendrier.</p>
                        </div>
                    </div>
                </div>
                <!-- Supprimer le compte -->
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- FRAGMENT : Sidebar -->
<div class="border-end" th:fragment="sidebar">
    <!-- Sidebar du modal -->
    <div class="pe-3 mr-3" style="width: 200px;">
        <ul class="nav flex-column nav-pills" id="settingsTabs">
            <li class="nav-item">
                <button class="nav-link active w-100 d-flex" data-section="account">
                    <i class="bi bi-person-circle me-2 fs-5 d-flex align-items-center"></i>
                    Compte
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="general">
                    <i class="bi bi-gear me-2 fs-5 d-flex align-items-center"></i>Général</button>
            </li>
            <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="theme">
                    <i class="bi bi-palette me-2 fs-5 d-flex align-items-center"></i>Thème</button>
            </li>
            <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="barreLateral">
                    <i class="bi bi-layout-sidebar me-2 fs-5 d-flex align-items-center"></i>Barre
                    latéral</button>
            </li>
            <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="calendriers">
                    <i class="bi bi-calendar3 me-2 fs-5 d-flex align-items-center"></i>Calendriers</button>
            </li>
        </ul>
    </div>
</div>

<!-- ==================================
=============  COMPTE  ================  
====================================-->
<!-- FRAGMENT : Account Section -->
<div id="account-base" class="" th:fragment="accountSection">
    <h5 class="m-0">Compte</h5>
    <hr>
    <!-- Modifier le Nom -->
    <div class="mb-4 d-flex flex-column">
        <div class="m-0 fw-bold">Nom d'utilisateur</div>
        <button
            class="btn-edit-profil gap-2 align-items-center d-flex btn btn-link fw-normal text-decoration-none text-dark px-0"
            type="button" id="editUsername" th:text="${userInfo.username}">
        </button>
    </div>
    <!-- Modifier l'Email -->
    <div class="mb-4 d-flex flex-column gap-2">
        <div class="m-0 fw-bold">Email</div>
        <span th:text="${userInfo.email}" class="">
        </span>
        <button class=" btn-edit-profil gap-2 d-flex btn btn-link fw-normal text-decoration-none text-dark
                  align-items-center px-0 d-none" type="button" id="editEmail" th:text="${userInfo.email}">
        </button>
        <div>
            <button type="button" class="btn-edit-profil btn btn-secondary btn-sm py-1 fw-normal text-decoration-none"
                id="editMail">
                Modifier l'e-mail
            </button>
        </div>
    </div>
    <!-- Modifier le Mot de passe -->
    <div class="mb-4 d-flex flex-column gap-2">
        <div class="m-0 fw-bold">Mot de passe
        </div>
        <div>
            <button type="button" class="btn-edit-profil btn btn-secondary btn-sm py-1 fw-normal text-decoration-none"
                id="editPassword">
                Modifier le mot de passe
            </button>
        </div>
        <div class="d-flex flex-column w-100 edit-pass-form d-none">
            <span class="info-request-notif fw-bold"></span>
            <form action="/user/change-password" method="post" class="bg-white p-6 rounded shadow-md">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <label class="mb-2 d-flex flex-column">
                    Ancien mot de passe :
                    <input type="password" name="oldPassword" required class="border w-full p-2 rounded">
                </label>
                <label class="mb-2 d-flex flex-column">
                    Nouveau mot de passe :
                    <input type="password" name="newPassword" required class="border w-full p-2 rounded">
                </label>
                <label class="mb-3 d-flex flex-column">
                    Confirmer le mot de passe :
                    <input type="password" name="confirmPassword" required class="border w-full p-2 rounded">
                </label>
                <button type="submit" class="btn btn-primary">
                    Modifier
                </button>
            </form>
        </div>
    </div>
    <!-- Comptes connectés -->
    <!-- <div class="mb-4 d-flex flex-column gap-2">
        <div class="m-0 fw-bold">Comptes connectés
        </div>
        <span class="small text-secondary">Connectez-vous à Todoist avec votre compte Google, Facebook ou Apple.
        </span>

        <p th:if="${userInfo.provider == GOOGLE}">
            Vous pouvez vous connecter à Todoist avec votre compte Google</span>
            <span th:text="${userInfo.email}" class="fw-bold"></span>.
        </p>
        <p th:if="${userInfo.provider == FACEBOOK}">
            Vous pouvez vous connecter à Todoist avec votre compte Facebook</span>
            <span th:text="${userInfo.email}" class="fw-bold"></span>.
        </p>
        <p th:if="${userInfo.provider == APPLE}">
            Vous pouvez vous connecter à Todoist avec votre compte Apple</span>
            <span th:text="${userInfo.email}" class="fw-bold"></span>.
        </p>

    </div> -->
    <!-- Supprimer le compte -->
    <div class="d-flex flex-column gap-2">
        <div class="m-0 fw-bold">Supprimer le compte
        </div>
        <span class="small">La suppression de votre compte est définitive. Vous perdrez
            immédiatement l'accès
            à
            toutes vos données.</span>
        <form action="/user/delete" method="POST"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-outline-danger fw-normal text-decoration-none py-1 btn-sm">Supprimer
                le compte</button>
        </form>
    </div>
</div>

<!-- FRAGMENT : Email Form -->
<div class="d-none" id="account-edit-email" th:fragment="emailForm">
    <div class="d-flex align-items-center gap-4">
        <button type="button" id="backFromEmailBtn" class="btn btn-link p-0 m-0 border-0 text-decoration-none">
            <i class="fs-4 bi bi-arrow-left text-dark d-flex align-items-center"></i>
        </button>
        <h5 class="m-0">Modifier l'adresse e-mail</h5>
    </div>
    <hr>

    <form action="/user/change-email" method="post" class="d-flex flex-column gap-3">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div class="mb-3">
            Modifiez l'adresse e-mail que vous utilisez pour votre compte MaToDo. Votre e-mail est actuellement
            <span th:text="${userInfo.email}" class="fw-bold">

        </div>
        <label class="mb-2 d-flex flex-column ">
            Nouvelle adresse e-mail :
            <input type="email" name="newEmail" required class="border p-2 rounded" />
        </label>
        <label class="mb-2 d-flex flex-column">
            Confirmer le nouvel e-mail :
            <input type="email" name="newEmail" required class="border w-full p-2 rounded" />
        </label>
        <label class="mb-2 d-flex flex-column">
            Mot de passe MaToDo :
            <input type="email" name="newEmail" required class="border w-full p-2 rounded" />
        </label>
        <button type="submit" class="btn btn-primary">Modifier l'email</button>
    </form>
</div>

<!-- FRAGMENT : Password Form -->
<div class="d-none" id="account-edit-pass" th:fragment="passwordForm">
    <div class="d-flex align-items-center gap-4">
        <button type="button" id="backFromPassBtn" class="btn btn-link p-0 m-0 border-0 text-decoration-none">
            <i class="fs-4 bi bi-arrow-left text-dark d-flex align-items-center"></i>
        </button>
        <h5 class="m-0">Modifier le mot de passe</h5>
    </div>
    <hr>
    <div class="d-flex flex-column w-10 0">
        <span class="info-request-notif fw-bold"></span>
        <form action="/user/change-password" method="post" class="bg-white p-6 rounded shadow-md">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <label class="mb-2 d-flex flex-column">
                Ancien mot de passe :
                <input type="password" name="oldPassword" required class="border w-full p-2 rounded" />
            </label>
            <label class="mb-2 d-flex flex-column">
                Nouveau mot de passe :
                <input type="password" name="newPassword" required class="border w-full p-2 rounded" />
            </label>
            <label class="mb-3 d-flex flex-column">
                Confirmer le mot de passe :
                <input type="password" name="confirmPassword" required class="border w-full p-2 rounded" />
            </label>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</div>

<!-- FRAGMENT : Delete Account Form -->
<div th:fragment="deleteAccountForm">
    <form action="/user/delete-account" method="post"
        onsubmit="return confirm('Confirmer la suppression de votre compte ?')" class="bg-white p-6 rounded shadow-md">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
        <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
    </form>
</div>