html {
  font-size: 0.9rem;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.matodo-app {
  height: 100%;
  overflow: hidden;
}
/* .fs-minus {
  font-size: 0.9rem;
} */

/* 
===================================================================
GENERAL
===================================================================
*/
button.btn {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
}
.max-700 {
  max-width: 700px;
}
.fs-13 {
  font-size: 13px;
}
.font-weight-normal {
  font-weight: normal;
}

.login-page,
.signup-page,
.home-page {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  height: 100%;
  overflow-y: auto;
}

/* 
===================================================================
Home (home.html)
===================================================================
*/
.home-page .navbar,
.signup-page .navbar,
.login-page .navbar {
  border-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* Bordure blanche très légère */
}

.btn-custom {
  font-size: 1.1rem;
  font-weight: 500;
}
.btn-custom-signup {
  font-size: 1.1rem;
  font-weight: 600;
}
/* 
===================================================================
DASHBOARD (Index.html)
===================================================================
*/
/* -------------------------
SIDEBAR 
*/
/* Transition sur la largeur */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}
#sidebar.close {
  margin-left: -250px;
}
#close-sidebar {
  display: none !important;
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 700px) {
  #sidebar {
    position: fixed;
    height: 100vh;
    z-index: 99;
    margin-left: -100%;
    max-width: 500px;
    width: 100vw;
  }
  #sidebar.close {
    margin-left: 0;
  }
  #close-sidebar {
    display: block !important;
  }
}
.github-link > a,
.github-link > i {
  transition: all 0.3s ease;
}

.github-link:hover > a {
  color: grey !important;
}
/* -------------------------
SIDEBAR 
*/
@media only screen and (max-width: 992px) {
  #toggle-sidebar span {
    display: none;
  }
  .current-username {
    display: none;
  }
}
/* @media only screen and (max-width: 1200px) {
  
  .current-username{
    display: none;
  }
} */

/* -------------------------
LISTES
*/
.task-list-item {
  transition: all 0.3s ease;
}
.task-list-item.active {
  background-color: rgb(141 141 141 / 20%);
}
.task-list-item:hover {
  background-color: rgb(141 141 141 / 40%);
}
.task-list-item a {
  gap: 9px;
}
.dropdown.edit-list a.dropdown-toggle {
  width: 30px;
}
.edit-list .dropdown-toggle::after {
  border: none !important;
  content: "\22ef";
  display: inline-block;
  font-weight: bold;
  margin: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------
PROFIL
*/
.modal.show#editProfileModal .modal-dialog {
  max-width: calc(100% - var(--bs-modal-margin) * 2);
  height: calc(100% - var(--bs-modal-margin) * 2);
}
@media (min-width: 992px) {
  .modal.show#editProfileModal .modal-dialog {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .modal.show#editProfileModal .modal-dialog {
    width: 1060px;
  }
}

@media (max-width: 1000px) {
  .modal.show#editProfileModal .modal-dialog {
    width: 768px;
  }
}
#settingsTabs li.nav-item .nav-link {
  color: black;
}
#settingsTabs li.nav-item .nav-link:hover {
  background-color: rgba(0, 00, 0, 0.05);
}
#settingsTabs li.nav-item .nav-link.active {
  background-color: rgb(255 222 222);
  color:#851900;
}
/* ???? */
#editProfileModal .dropdown .dropdown-menu button:hover {
  background-color: #80808040;
}
@media (min-width: 992px) {
  #editProfileModal .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* Input edit profil added with js */
.input-edit-profil {
  max-width: 400px;
  height: 35px;
  padding: 0 5px !important;
}
.input-edit-profil:focus {
  box-shadow: unset;
}
/* -------------------------
LISTE DETAILLE PAGE D'ACCUEIL 
*/
.lists-details .card {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}
/* -------------------------
TACHES 
*/
#new-task-input {
  height: 40px;
}
#createdDate {
  height: 40px;
}

.task-card {
  transition: background-color 0.3s ease;
}
.task-card.task-complete {
  background-color: #d4edda;
  color: #155724;
  text-decoration: line-through;
}
.task-card:hover {
  background-color: #eeeeee;
}
.task-card.task-complete:hover {
  background-color: #ace9ba;
}
.task-container {
  flex-basis: 100%;
}
.task-container .input-edit-desc {
  flex-basis: 100%;
}

.button-edit-task,
.button-delete-task {
  width: 25px;
  height: 25px;
  font-size: 14px;
}
.description-content.editable {
  cursor: pointer;
  /* padding: 0 5px; */
}
.task-infos {
  flex-basis: 100%;
}
.task-infos .task-date {
  font-size: 12px;
}
.input-edit-desc {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.input-edit-desc:focus {
  box-shadow: unset;
}
.form-check-input {
  cursor: pointer;
}
/* .editable:hover {
  background-color: #f5f5f5;
} */

/* .button-edit-task i.bi,
.button-delete-task i.bi{
  
} */

.logout-header > button {
  width: 30px;
  height: 30px;
}

.dragging {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* transform: scale(1.01);  */
  z-index: 1000;
}
.draggable .bi-grip-vertical {
  cursor: grab;
}

/* 
===================================================================
AUTH PAGES (login.html and signup.html)
===================================================================
*/
.login-page .form-auth .btn,
.signup-page .form-auth .btn {
  padding: 12px 16px 12px 16px;
}
input.form-control.large {
  padding: 0.8rem 1rem;
}
.form-auth {
  background-color: #e1e1e1;
  max-width: 400px;
  border-radius: 10px;
  /* width: 100%;
  margin: 0 auto;
  padding: 1.5rem; */
}

.form-auth form.p-2 {
  padding: 0.5rem !important;
}
.password-unveil {
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  border: none;
  background: none;
}
.login-with-google-btn {
  transition: all 0.3s;
  padding: 12px 16px 12px 16px;
  margin: 0 auto;
  border: none;
  width: 100%;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: white;
}
.login-with-google-btn > div > svg {
  left: -25px;
  top: calc(50% - 8px);
}
/* .login-with-google-btn:hover{
  background-color: rgba(0, 0, 0, 0.04);
} */
