html {
  font-size: 0.9rem;
}

/* .fs-minus {
  font-size: 0.9rem;
} */

/* GENERAL */
button.btn {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: bold;
}
.max-700 {
  max-width: 700px;
}
.fs-13 {
  font-size: 13px;
}

/* TODO APP */
.task-card {
  transition: background-color 0.3s ease;
}
.task-card.task-complete {
  background-color: #d4edda;
  color: #155724;
  text-decoration: line-through;
}
.task-card:hover {
  background-color: #eeeeee;
}
.task-card.task-complete:hover {
  background-color: #ace9ba;
}
/* AUTH */
input.form-control.large {
  padding: 0.8rem 1rem;
}
.form-auth {
  width: 400px;
  background-color: #e1e1e1;
  border-radius: 10px;
  max-width: 100%;
}
.form-auth form.p-2 {
  padding: 0.5rem !important;
}
.password-unveil {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
}
