<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <title>MaToDo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- CONTENT -->
  <div class="d-flex overflow-hidden vh-100">
    <!-- 
    ============================================================================================================================================================== 
    SIDEBAR 
    ============================================================================================================================================================== 
    -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- 
    ============================================================================================================================================================== 
    CONTENU DES TACHES 
    ============================================================================================================================================================== 
    -->
    <div class="min-vh-100 p-3 flex-grow-1 overflow-auto">
      <!-- HEADER -->
      <div class="d-flex justify-content-between align-items-center">
        <button id="toggle-sidebar" href="#" class="border rounded-3 p-1 text-decoration-none">
          <i class="bi bi-list bi-lg py-2 p-1"></i>
          <span>Menu</span>
        </button>
        <h1 class="h2 text-center text-dark m-0">
          <i class="fas fa-check-square me-1"></i>
          <u th:if="${selectedtaskListname == null}">MaToDo</u>
          <u th:if="${selectedtaskListname}" th:text="${selectedtaskListname}" class=""></u>
        </h1>
        <div class="d-flex gap-2 align-items-center">

          <!-- DROPDOWN USERS INFOS -->
          <div class="dropdown user-edit">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle me-2 fs-4 d-flex align-items-center"></i>
              <strong th:if="${userInfo.username}" th:text="${userInfo.username}"
                class="me-2 current-username"></strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                  Profil
                </button>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <form th:action="@{/auth/logout}" method="post" class="dropdown-item">
                  <input type="submit" class="fw-bold border-0 p-0 text-decoration-underline bg-transparent text-dark"
                    value="Déconnexion" />
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />

      <!-- PAGE D'ACCUEIL - AFFICHAGE DES LISTES DETAILLE -->
      <div class="row g-4 lists-details" th:if="${selectedTaskListId} == null">
        <div class="" th:if="${#lists.isEmpty(taskLists)}">
          <p>Vous n'avez pas encore de liste de tâches.</p>
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Créer une nouvelle liste
          </button>
        </div>
        <div class="col-md-6 col-lg-4" th:each="list : ${taskLists}">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title fw-bold text-truncate" th:text="${list.name}">
                Nom de la liste
              </h5>
              <p class="card-text text-muted mb-3">
                <span th:text="${list.tasks.size()}">0</span> tâches
              </p>
              <div class="mt-auto">
                <a th:href="@{/task-lists/{id}(id=${list.id})}" class="btn btn-outline-primary btn-sm w-100">
                  Voir les tâches
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column" th:if="${selectedTaskListId}">
        <!-- CREER UNE TACHE -->
        <form action="/todo" method="post" id="create-task-form" class="">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
          <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
          <div class="d-flex justify-content-start mb-3 gap-2 ">
            <!-- flex-md-row -->
            <input id="new-task-input" type="text" class="form-control" placeholder="Nouvelle tâche..."
              name="description" required />
            <div class="d-flex gap-2">
              <input type="date" id="createdDate" name="dueDate" class="form-control d-none" placeholder="jj/mm/aaaa" />
              <button id="add-task-btn" class="btn btn-outline-success">
                <i class="bi bi-plus-square-fill"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- AFFICHAGE DES TACHES -->
        <div class="d-flex flex-column gap-3">
          <div th:if="${#lists.isEmpty(todoItems)}" class="text-center mt-4">
            <p>Vous n'avez pas encore de tâches dans cette liste.</p>
          </div>
          <div th:data-position="${item.position}" th:data-id="${item.id}"
            class="card task-card border-bottom draggable flex-row align-items-center" th:each="item : ${todoItems}"
            th:data-status="${item.status}">
            <!-- draggable="true" -->

            <!-- <i class="bi bi-grip-vertical ms-2"></i> -->
            <i class="bi bi-grip-vertical ms-2 fs-5" draggable="true" data-task-id="${item.id}"
              data-list-id="${item.taskList.id}">
            </i>

            <div class="card-body d-flex align-items-center justify-content-between py-2 px-3">
              <div class="d-flex task-container">
                <!-- CHECKBOX POUR L'ETAT FAIT/A FAIRE -->
                <form th:action="@{/todo/{id}/toggle(id=${item.id})}" method="POST" th:id="'todoForm-' + ${item.id}"
                  class="d-flex align-items-center">
                  <input type="hidden" name="_method" value="PATCH" />
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
                  <input th:id="'inputIsComplete-' + ${item.id}" type="checkbox"
                    class="form-check-input me-2 task-checkbox" th:checked="${item.status.name() == 'DONE'}"
                    th:attr="data-id=${item.id}" />
                </form>
                <!-- DESCRIPTION DE LA TACHE -->
                <!-- th:class="${item.status} == TODO ? 'text-decoration-line-through' : ''" -->

                <div class="task-infos d-flex gap-1 flex-column">
                  <span class="description-content flex-grow-1 editable px-2" th:text="${item.description}"
                    th:data-id="${item.id}"></span>
                  <div class="task-date d-flex align-items-center px-2" th:if="${item.dueDate}">
                    <i class="bi bi-alarm me-2 d-flex"></i>
                    <span th:text="${item.formattedDueDate}"></span>
                    <!-- <span th:text="${#temporals.format(item.dueDate, 'd MMM yyyy')}"></span> -->
                  </div>
                </div>

                <input id="current-list-id" type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
              </div>

              <!-- BOUTONS D'ACTIONS MODIFIER/SUPPRIMER -->
              <div class="btn-group gap-2" role="group">
                <!-- SUPRESSION DE TACHE -->
                <form action="#" th:action="@{/delete/{id}(id=${item.id})}" method="post" class="">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <button type="submit"
                    class="btn btn-sm btn-link d-flex align-items-center justify-content-center rounded p-0 text-danger button-delete-task">
                    <i class="bi bi-trash-fill fs-6"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  ============================================================================================================================================================== 
  MODALS 
  ============================================================================================================================================================== 
  -->
  <!-- MODAL CREATION DE LISTE -->
  <div th:replace="fragments/modal-create-list :: createListModal"></div>

  <!-- <div class="modal fade modal-create-list" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            Ajouter une liste
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="create-list-form" action="/task-lists" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="list-name" class="form-label">Nom de la liste</label>
              <input type="text" class="form-control" id="list-name" name="name" placeholder="Entrez le nom de la liste"
                required />
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="submit" form="create-list-form" class="btn btn-primary" id="add-list-btn">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- MODAL RENOMMER UNE LISTE -->
  <!-- <div class="modal fade modal-create-list" id="editList" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editListLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            Renommer une liste
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit-list-form" action="/task-lists/{id}" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="edit-list-name" class="form-label">Nom de la liste</label>
              <input type="text" class="form-control" id="edit-list-name" name="name"
                placeholder="Entrez le nom de la liste" required />
              <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="submit" form="edit-list-form" class="btn btn-primary" id="edit-list-btn">
            Renommer
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <div th:replace="fragments/modal-edit-list :: editListModal"></div>

  <!-- MODAL PARAMETRES -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content  h-100 overflow-hidden">
        <!-- Header du modal -->
        <div class="modal-header">
          <h4 class="modal-title" id="editProfileModalLabel">Paramètres</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Corps du modal -->
        <div class="modal-body d-flex  overflow-hidden">
          <!-- Sidebar du modal -->
          <div class="border-end pe-3 mr-3" style="width: 200px;">
            <ul class="nav flex-column nav-pills" id="settingsTabs">
              <li class="nav-item">
                <button class="nav-link active w-100 d-flex" data-section="account">
                  <i class="bi bi-person-circle me-2 fs-5 d-flex align-items-center"></i>
                  Compte
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="general">
                  <i class="bi bi-gear me-2 fs-5 d-flex align-items-center"></i>Général</button>
              </li>
              <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="theme">
                  <i class="bi bi-palette me-2 fs-5 d-flex align-items-center"></i>Thème</button>
              </li>
              <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="barreLateral">
                  <i class="bi bi-layout-sidebar me-2 fs-5 d-flex align-items-center"></i>Barre latéral</button>
              </li>
              <li class="nav-item">
                <button class="nav-link w-100 d-flex" data-section="calendriers">
                  <i class="bi bi-calendar3 me-2 fs-5 d-flex align-items-center"></i>Calendriers</button>
              </li>
            </ul>
          </div>
          <!-- Contenu du modal -->
          <div class="p-2 flex-grow-1 overflow-auto">
            <!-- Section Compte -->
            <div class="settings-section" id="section-account">
              <h5>Compte</h5>
              <hr>
              <!-- Modifier le Nom -->
              <div class="mb-4 d-flex flex-column">
                <div class="m-0 fw-bold">Nom d'utilisateur</div>
                <button
                  class="btn-edit-profil gap-2 align-items-center d-flex btn btn-link fw-normal text-decoration-none text-dark px-0"
                  type="button" id="editUsername" th:text="${userInfo.username}">
                </button>
              </div>
              <!-- Modifier l'Email -->
              <div class="mb-4 d-flex flex-column gap-2">
                <div class="m-0 fw-bold">Email</div>
                <span th:text="${userInfo.email}" class="">
                </span>
                <button class=" btn-edit-profil gap-2 d-flex btn btn-link fw-normal text-decoration-none text-dark
                  align-items-center px-0 d-none" type="button" id="editEmail" th:text="${userInfo.email}">
                </button>
                <div>
                  <button type="button"
                    class="btn-edit-profil btn btn-secondary btn-sm py-1 fw-normal text-decoration-none" id="editMail">
                    Modifier le mail
                  </button>
                </div>
              </div>
              <!-- Modifier le Mot de passe -->
              <div class="mb-4 d-flex flex-column gap-2">
                <div class="m-0 fw-bold">Mot de passe
                </div>
                <div>
                  <button type="button"
                    class="btn-edit-profil btn btn-secondary btn-sm py-1 fw-normal text-decoration-none"
                    id="editPassword">
                    Modifier le mot de passe
                  </button>
                </div>
                <div class="d-flex flex-column w-100 edit-pass-form d-none">
                  <span class="info-request-notif fw-bold"></span>
                  <form action="/user/change-password" method="post" class="bg-white p-6 rounded shadow-md">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <label class="mb-2 d-flex flex-column">
                      Ancien mot de passe :
                      <input type="password" name="oldPassword" required class="border w-full p-2 rounded">
                    </label>
                    <label class="mb-2 d-flex flex-column">
                      Nouveau mot de passe :
                      <input type="password" name="newPassword" required class="border w-full p-2 rounded">
                    </label>
                    <label class="mb-3 d-flex flex-column">
                      Confirmer le mot de passe :
                      <input type="password" name="confirmPassword" required class="border w-full p-2 rounded">
                    </label>
                    <button type="submit" class="btn btn-primary">
                      Modifier
                    </button>
                  </form>
                </div>
              </div>
              <!-- Comptes connectés -->
              <!-- <div class="mb-4 d-flex flex-column gap-2">
                <div class="m-0 fw-bold">Comptes connectés
                </div>
                <span class="small text-secondary">Connectez-vous à Todoist avec votre compte Google, Facebook ou Apple.
                </span>

                <p th:if="${userInfo.provider == GOOGLE}">
                  Vous pouvez vous connecter à Todoist avec votre compte Google</span>
                  <span th:text="${userInfo.email}" class="fw-bold"></span>.
                </p>
                <p th:if="${userInfo.provider == FACEBOOK}">
                  Vous pouvez vous connecter à Todoist avec votre compte Facebook</span>
                  <span th:text="${userInfo.email}" class="fw-bold"></span>.
                </p>
                <p th:if="${userInfo.provider == APPLE}">
                  Vous pouvez vous connecter à Todoist avec votre compte Apple</span>
                  <span th:text="${userInfo.email}" class="fw-bold"></span>.
                </p>

              </div> -->
              <!-- Supprimer le compte -->
              <div class="d-flex flex-column gap-2">
                <div class="m-0 fw-bold">Supprimer le compte
                </div>
                <span class="small">La suppression de votre compte est définitive. Vous perdrez immédiatement l'accès
                  à
                  toutes vos données.</span>
                <form action="/user/delete" method="POST"
                  onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

                  <button type="submit"
                    class="btn btn-outline-danger fw-normal text-decoration-none py-1 btn-sm">Supprimer
                    le compte</button>
                </form>
              </div>
            </div>
            <!-- Section Général -->
            <div class="settings-section d-none" id="section-general">
              <h5>Général</h5>
              <hr>
              <p>Options générales ici...</p>
            </div>
            <!-- Section Thème -->
            <div class="settings-section d-none" id="section-theme">
              <h5>Thème</h5>
              <hr>
              <p>Choisir le thème clair/sombre, etc.</p>
            </div>
            <!-- Section Barre latéral -->
            <div class="settings-section d-none" id="section-barreLateral">
              <h5>Barre latérale</h5>
              <hr>
              <p class="m-0 fw-bold">Afficher dans la barre latérale</p>

            </div>
            <!-- Section Calendriers -->
            <div class="settings-section d-none" id="section-calendriers">
              <h5>Calendriers</h5>
              <hr>
              <p>Afficher les événements dans MaToDo et synchroniser les tâches planifiées avec votre calendrier.</p>
            </div>
          </div>
        </div>
        <!-- Supprimer le compte -->
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- 
  ===================
  SCRIPTS 
  ===================
  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/js/edit-task.js" defer></script>
  <script src="/js/create-list.js" defer></script>
  <script src="/js/homepage.js" defer></script>
  <script src="/js/edit-profil.js" defer></script>
  <script src="/js/edit-password.js" defer></script>
  <script src="/js/modal-params.js" defer></script>
  <script th:if="${selectedTaskListId}" src="/js/edit-desc.js" defer></script>
  <script th:if="${selectedTaskListId}" src="/js/position-tasks.js" defer></script>
  <!-- <script th:if="${selectedTaskListId}" src="/js/completed-task-folder.js" defer></script> -->
</body>

</html>