<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <title>MaToDo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <!-- CONTENT -->
  <div class="d-flex overflow-hidden vh-100">
    <!-- 
    ============================================================================================================================================================== 
    SIDEBAR 
    ============================================================================================================================================================== 
    -->
    <div class="bg-light collapse show" id="sidebar">
      <div class="d-flex flex-column p-3 h-100">
        <div class="d-flex justify-content-between">
          <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4">MaToDo</span>
          </a>
          <button id="close-sidebar" href="#"
            class="border rounded-3 p-1 text-decoration-none d-flex align-items-center justify-content-center">
            <i class="bi bi-x fs-5 d-flex align-items-center justify-content-center"></i>
          </button>
        </div>
        <hr />
        <div class="nav nav-pills flex-column mb-auto">
          <!-- LISTES DE TACHES -->
          <div>
            <a href="#" class="nav-link link-dark d-flex align-items-center justify-content-between">
              <span><strong>Listes</strong></span>
              <button type="button"
                class="btn btn-link text-dark text-decoration-none p-0 d-flex align-items-center justify-content-center"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 30px; height: 30px">
                <i class="bi bi-plus d-flex align-items-center justify-content-center fs-4"></i>
              </button>
            </a>

            <ul class="list-group list-unstyled">
              <!-- Liste des TaskLists -->
              <li th:each="list : ${taskLists}" th:data-id="${list.id}" class="task-list-item rounded d-flex"
                th:classappend="${list.id == selectedTaskListId} ? 'active' : ''">
                <a th:href="@{/task-lists/{id}(id=${list.id})}"
                  class="text-decoration-none text-dark d-flex p-2 w-100 align-items-center">
                  <i class="bi bi-card-checklist"></i>
                  <span class="fs-13" th:text="${list.name}"></span>
                </a>
                <!-- DROPDOWN LIST  -->
                <div class="dropdown edit-list  d-flex align-items-center justify-content-center">
                  <a href="#"
                    class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle h-100 justify-content-center"
                    id="dropdownList2" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <i class="bi bi-three-dots-vertical me-2"></i> -->
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownList2">
                    <li>
                      <button type="button"
                        class="dropdown-item btn btn-link text-dark text-decoration-none fw-normal py-2"
                        data-bs-toggle="modal" data-bs-target="#editList" th:data-id="${list.id}">
                        <span class="d-none list-name-data" th:data-name="${list.name}"></span>
                        <span class="d-none current-list-data" th:data-name="${selectedTaskListId}"></span>
                        <i class="bi bi-pencil me-2"></i>
                        Renommer
                      </button>
                    </li>
                    <li>
                      <form th:action="@{/task-lists/{id}(id=${list.id})}" method="post" class="dropdown-item py-2"
                        onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?');">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-link text-decoration-none p-0 fw-normal text-danger">
                          <i class="bi bi-trash-fill me-2 text-danger"></i>
                          Supprimer
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="p-2 github-link">
          <a href="https://github.com/Adrien-25/MaToDo" target="_blank"
            class="text-decoration-none d-flex justify-content-center text-dark fw-bold">
            <i class="bi bi-github me-2"></i>
            Voir le projet sur GitHub
          </a>
        </div>

      </div>
    </div>
    <!-- 
    ============================================================================================================================================================== 
    CONTENU DES TACHES 
    ============================================================================================================================================================== 
    -->
    <div class="min-vh-100 p-3 flex-grow-1 overflow-auto">
      <!-- HEADER -->
      <div class="d-flex justify-content-between align-items-center">
        <button id="toggle-sidebar" href="#" class="border rounded-3 p-1 text-decoration-none">
          <i class="bi bi-list bi-lg py-2 p-1"></i> Menu
        </button>
        <h1 class="h2 text-center text-dark m-0">
          <i class="fas fa-check-square me-1"></i>
          <u th:if="${selectedtaskListname == null}">MaToDo</u>
          <u th:if="${selectedtaskListname}" th:text="${selectedtaskListname}" class=""></u>
        </h1>
        <div class="d-flex gap-2 align-items-center">

          <!-- DROPDOWN USERS INFOS -->
          <div class="dropdown user-edit">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle me-2 fs-4 d-flex align-items-center"></i>
              <strong th:if="${userInfo.username}" th:text="${userInfo.username}"
                class="me-2 current-username"></strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                  Profil
                </button>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <form th:action="@{/auth/logout}" method="post" class="dropdown-item">
                  <input type="submit" class="fw-bold border-0 p-0 text-decoration-underline bg-transparent text-dark"
                    value="Déconnexion" />
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />

      <!-- PAGE D'ACCUEIL - AFFICHAGE DES LISTES DETAILLE -->
      <div class="row g-4 lists-details" th:if="${selectedTaskListId} == null">
        <div class="col-md-6 col-lg-4" th:each="list : ${taskLists}">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title fw-bold text-truncate" th:text="${list.name}">
                Nom de la liste
              </h5>
              <p class="card-text text-muted mb-3">
                <span th:text="${list.tasks.size()}">0</span> tâches
              </p>
              <div class="mt-auto">
                <a th:href="@{/task-lists/{id}(id=${list.id})}" class="btn btn-outline-primary btn-sm w-100">
                  Voir les tâches
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column" th:if="${selectedTaskListId}">
        <!-- CREER UNE TACHE -->
        <form action="/todo" method="post" id="create-task-form" class="">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
          <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
          <div class="d-flex justify-content-start mb-3 gap-2">
            <input id="new-task-input" type="text" class="form-control" placeholder="Nouvelle tâche..."
              name="description" required />
            <input type="date" id="createdDate" name="dueDate" class="form-control" />

            <button id="add-task-btn" class="btn btn-outline-success">
              <i class="bi bi-plus-square-fill"></i>
            </button>
          </div>
        </form>

        <!-- AFFICHAGE DES TACHES -->
        <div class="d-flex flex-column gap-3">
          <div class="card task-card border-bottom draggable" th:each="item : ${todoItems}" th:data-id="${item.id}"
            th:data-position="${item.position}" th:data-status="${item.status}" >
            <!-- draggable="true" -->

            <div class="card-body d-flex align-items-center justify-content-between py-2 px-3">
              <div class="d-flex task-container">
                <!-- CHECKBOX POUR L'ETAT FAIT/A FAIRE -->
                <form th:action="@{/todo/{id}/toggle(id=${item.id})}" method="POST" th:id="'todoForm-' + ${item.id}"
                  class="d-flex align-items-center">
                  <input type="hidden" name="_method" value="PATCH" />
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
                  <input th:id="'inputIsComplete-' + ${item.id}" type="checkbox"
                    class="form-check-input me-2 task-checkbox" th:checked="${item.status.name() == 'DONE'}"
                    th:attr="data-id=${item.id}" />
                </form>
                <!-- DESCRIPTION DE LA TACHE -->
                <!-- th:class="${item.status} == TODO ? 'text-decoration-line-through' : ''" -->

                <div class="task-infos d-flex gap-1 flex-column">
                  <span class="description-content flex-grow-1 editable px-2" th:text="${item.description}"
                    th:data-id="${item.id}"></span>
                  <div class="task-date d-flex align-items-center px-2" th:if="${item.dueDate}">
                    <i class="bi bi-alarm me-2 d-flex"></i>
                    <span th:text="${item.formattedDueDate}"></span>
                    <!-- <span th:text="${#temporals.format(item.dueDate, 'd MMM yyyy')}"></span> -->
                  </div>
                </div>

                <input id="current-list-id" type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
              </div>

              <!-- BOUTONS D'ACTIONS MODIFIER/SUPPRIMER -->
              <div class="btn-group gap-2" role="group">
                <!-- SUPRESSION DE TACHE -->
                <form action="#" th:action="@{/delete/{id}(id=${item.id})}" method="post" class="">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                  <button type="submit"
                    class="btn btn-sm btn-link d-flex align-items-center justify-content-center rounded p-0 text-danger button-delete-task">
                    <i class="bi bi-trash-fill fs-6"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  ============================================================================================================================================================== 
  MODALS 
  ============================================================================================================================================================== 
  -->
  <!-- MODAL CREATION DE LISTE -->
  <div class="modal fade modal-create-list" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            Ajouter une liste
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="create-list-form" action="/task-lists" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="list-name" class="form-label">Nom de la liste</label>
              <input type="text" class="form-control" id="list-name" name="name" placeholder="Entrez le nom de la liste"
                required />
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="submit" form="create-list-form" class="btn btn-primary" id="add-list-btn">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL RENOMMER UNE LISTE -->
  <div class="modal fade modal-create-list" id="editList" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editListLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            Renommer une liste
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit-list-form" action="/task-lists/{id}" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <div class="mb-3">
              <label for="edit-list-name" class="form-label">Nom de la liste</label>
              <input type="text" class="form-control" id="edit-list-name" name="name"
                placeholder="Entrez le nom de la liste" required />
              <input type="hidden" name="task_list_id" th:value="${selectedTaskListId}" />

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fermer
          </button>
          <button type="submit" form="edit-list-form" class="btn btn-primary" id="edit-list-btn">
            Renommer
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL PARAMETRES -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Header du modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Profil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Corps du modal -->
        <div class="modal-body">

          <!-- Nom -->
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <div class="m-0 me-2 w-100">Nom d'utilisateur</div>
            <button
              class="btn-edit-profil gap-2 align-items-center d-flex btn btn-link fw-normal text-decoration-none text-dark "
              type="button" id="editUsername" th:text="${userInfo.username}">
            </button>
          </div>
          <hr />

          <!-- Email -->
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <div class="m-0 me-2 w-100">Email</div>
            <button
              class="btn-edit-profil gap-2 d-flex btn btn-link fw-normal text-decoration-none text-dark align-items-center"
              type="button" id="editEmail" th:text="${userInfo.email}">
            </button>
          </div>
          <hr />

          <!-- Mot de passe -->
          <div class="mb-2 d-flex justify-content-between align-items-center flex-column">
            <div class="w-100 d-flex justify-content-between mb-3 align-items-center ">
              <div class="form-label m-0 me-2 w-100">Mot de passe
              </div>
              <button type="button"
                class="btn-edit-profil btn btn-link fw-normal text-decoration-none w-100 text-end d-none"
                id="editPassword">
                Modifier le mot de passe
              </button>
            </div>
            <div class="d-flex flex-column w-100 edit-pass-form">
              <span class="info-request-notif fw-bold mb-3"></span>
              <form action="/user/change-password" method="post" class="bg-white p-6 rounded shadow-md">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <label class="mb-2 d-flex flex-column">
                  Ancien mot de passe :
                  <input type="password" name="oldPassword" required class="border w-full p-2 rounded">
                </label>
                <label class="mb-2 d-flex flex-column">
                  Nouveau mot de passe :
                  <input type="password" name="newPassword" required class="border w-full p-2 rounded">
                </label>
                <label class="mb-3 d-flex flex-column">
                  Confirmer le mot de passe :
                  <input type="password" name="confirmPassword" required class="border w-full p-2 rounded">
                </label>
                <button type="submit" class="btn btn-primary">
                  Modifier
                </button>
              </form>
            </div>
            <!-- th:value="{userInfo.email}" -->
          </div>
        </div>
        <!-- Supprimer le compte -->
        <div class="modal-footer">
          <form action="/user/delete" method="POST"
            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

            <button type="submit" class="p-0 btn btn-link text-danger fw-normal text-decoration-none">Supprimer mon
              compte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- 
  ===================
  SCRIPTS 
  ===================
  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="/js/edit-task.js" defer></script>
  <script src="/js/create-list.js" defer></script>
  <script src="/js/homepage.js" defer></script>
  <script src="/js/edit-profil.js" defer></script>
  <script src="/js/edit-password.js" defer></script>
  <script th:if="${selectedTaskListId}" src="/js/edit-desc.js" defer></script>
  <script th:if="${selectedTaskListId}" src="/js/position-tasks.js" defer></script>
</body>

</html>